[init]
  defaultBranch = master
[user]
  name = Dharmesh53
  email = dharmeshwr@gmail.com
[color]
    ui = auto 
[alias]
    co = checkout 
    br = branch 
    ci = commit
    st = status
[core]
    editor = nvim
[push]
    default = simple  
    autoSetupRemote = true
