! Font settings
Xft.dpi: 100
Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

! Cursor settings
Xcursor.theme: Bibata-Modern-Classic
Xcursor.size: 24

! Font
*.font: Monospace-10
dmenu.font: Monospace-10

! DWM and DMENU colors
dwm.normbgcolor:          #1d2021
dwm.normfgcolor:          #a89984
dwm.selbgcolor:           #3c3836
dwm.selfgcolor:           #fbf1c7

dwm.normbordercolor:      #1d2021
dwm.selbordercolor:       #a89984

dwm.tagsnormfgcolor:      #a89984
dwm.tagsnormbgcolor:      #1d2021
dwm.tagsnormbordercolor:  #1d2021

dwm.tagsselfgcolor:       #fbf1c7
dwm.tagsselbgcolor:       #3c3836
dwm.tagsselbordercolor:   #3c3836

dwm.titlenormfgcolor:     #a89984
dwm.titlenormbgcolor:     #1d2021
dwm.titlenormbordercolor: #1d2021

dwm.titleselfgcolor:      #fbf1c7
dwm.titleselbgcolor:      #3c3836
dwm.titleselbordercolor:  #3c3836

! ST specific
st.font: MartianMono Nerd Font-11
st.background:   #1d2021  
st.foreground:   #ebdbb2 
st.cursorColor:  #ebdbb2

! 16 ANSI colors
st.color0:  #1d2021  
st.color1:  #cc241d 
st.color2:  #98971a
st.color3:  #d79921  
st.color4:  #458588 
st.color5:  #b16286
st.color6:  #689d6a  
st.color7:  #a89984 

st.color8:  #928374  
st.color9:  #fb4934  
st.color10: #b8bb26  
st.color11: #fabd2f  
st.color12: #83a598  
st.color13: #d3869b
st.color14: #8ec07c 
st.color15: #ebdbb2  

! Terminal colors 
*.foreground:   #ebdbb2
*.background:   #1d2021
*.cursorColor:  #ebdbb2

! Black + Dark Grey
*.color0:       #1d2021
*.color8:       #928374

! Red
*.color1:       #cc241d
*.color9:       #fb4934

! Green
*.color2:       #98971a
*.color10:      #b8bb26

! Yellow
*.color3:       #d79921
*.color11:      #fabd2f

! Blue
*.color4:       #458588
*.color12:      #83a598

! Magenta
*.color5:       #b16286
*.color13:      #d3869b

! Cyan
*.color6:       #689d6a
*.color14:      #8ec07c

! White + Light Grey
*.color7:       #a89984
*.color15:      #ebdbb2
