! Font settings
Xft.dpi: 100
Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

! Cursor settings
Xcursor.theme: Bibata-Modern-Classic
Xcursor.size: 24

! Font
*.font: Monospace-10
dmenu.font: Monospace-10
st.font: MartianMono Nerd Font-11
