.xfce4-panel{
	border-radius:0px;
	padding-left:0px;		
}

.xfce4-panel .tasklist .toggle :checked {
  border-radius: 1px;
}
 
.tasklist button:checked {
  border-bottom: 3px solid white;
}
 
.flat,
.toggle {
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 13px;
  padding: 4px;
}
.flat:hover,
.toggle:hover {
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 13px;
  padding: 4px;
}
.flat:checked,
.toggle:checked {
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 13px;
  border-bottom: 3px solid white;
  padding: 4px;
}
